[include]
    # User & machine specific configs
    path = ~/.gitconfig.local
[core]
    editor = hx
[commit]
	verbose = true
[pull]
	rebase = true
[fetch]
	prune = true
[merge]
    conflictstyle = zdiff3
[diff]
	algorithm = histogram
	renames = true
	mnemonicPrefix = true
	colorMoved = zebra
    tool = winmerge
[difftool "winmerge"]
    cmd = "'C:/Program Files/WinMerge/WinMergeU.exe'" -e "$LOCAL" "$REMOTE"
[column]
	ui = auto
[tag]
	sort = version:refname
[rerere]
	enabled = false
[alias]
	plog = log --format='%Cgreen%cn%Creset - %Cblue%aD (%ar)%Creset%n%s%n%b' --graph
	leaderboard = shortlog --summary --numbered --all --no-merges
	discard = reset HEAD --hard
